{% import "../components/education-item.html" as Education %}

{% macro section(title, key, experienceArr) %}
  <section
    id="{{ key }}"
    class="section {{ key }}"
  >
    <div class="{{ key }}__header">
      <div class="text">
        {{ title }}
      </div>

      {# Separator #}
      <div class="separator"></div>
    </div>

    {% for item in experienceArr %}
      {{ 
        Education.item(
          item.link,
          item.image,
          item.schoolName,
          item.subtitle,
          item.dates,
          item.description,
          item.additionalInfoLines
        ) 
        }}
    {% endfor %}

    </section>
{% endmacro %}