{% import "../components/employment-item.html" as Employment %}

{% macro section(title, key, experienceArr) %}
  <section
    id="{{ key }}"
    class="section {{ key }}"
  >
    <div class="{{ key }}__header">
      <div class="text">
        {{ title }}
      </div>

      {# Separator #}
      <div class="separator"></div>
    </div>

    {% for item in experienceArr %}
      {{ Employment.item(item.link, item.image, item.companyName, item.positions, item.description, item.actionItems) }}
    {% endfor %}

    </section>
{% endmacro %}