{% import "../components/experience-item.html" as Experience %}

{% macro section(title, key, experienceArr) %}
  <section
    id="{{ key }}"
    class="section {{ key }}"
  >
    <div class="{{ key }}__header">
      <div class="text">
        {{ title }}
      </div>

      {# Separator #}
      <div class="separator"></div>
    </div>

    {% for item in experienceArr %}
      {{ Experience.item(item.link, item.image, item.companyName, item.jobTitle, item.description) }}
    {% endfor %}

    </section>
{% endmacro %}