<section
  id="work-experience"
  class="section work-experience"
>
  <div class="work-experience__header">
    <div class="text">
      My Experience
    </div>

    {# Separator #}
    <div class="separator"></div>
  </div>

  <div class="work-experience__item">

    {# Experience Image #}
    <a class="image" href="http://icims.com" target="_blank">
      <img src="img/icims_logo.png" />
    </a>

    {# Experience Info #}
    <div class="info">
      <span class="info__company-name">
        iCIMS
      </span>
    </div>

  </div>
</section>