{% macro item(link, image, companyName, jobTitle, description) %}
  {% set companyClass = companyName.split(' ').join('-').toLowerCase() %}
  <div class="experience-item {{ companyClass }}">
    {# Experience Image #}
    <a class="experience-item__image" href="{{ link }}" target="_blank">
      <img src="{{ image }}" />
    </a>

    {# Experience Info #}
    <div class="experience-item__info">
      <span class="company-name">
        {{ companyName }}
      </span>
      <span class="job-title">
        {{ jobTitle }}
      </span>

      <p class="description">
        {{ description }}
      </p>
    </div>
  </div>
{% endmacro %}