<!DOCTYPE html>

{% import "./sections/history-section.html" as HistorySection %}
<script src="index.js"></script>

<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <title>Personal Site</title>
  </head>
  <body>
    {% include "./components/header.html" %}
    {# {% include "./sections/top.html" %} #}
    {% include "./sections/hero.html" %}
    {{ HistorySection.section('Professional Experience', 'employment-history', EMPLOYMENT_HISTORY) }}
    {{ HistorySection.section('Education', 'education-history', EDUCATION_HISTORY) }}
    {% include "./components/scroller.html" %}
  </body>
</html>