<!DOCTYPE html>

{% import "./sections/employment-history.html" as EmploymentHistory %}
{% import "./sections/education-history.html" as EducationHistory %}
{% import "./sections/skills.html" as Skills %}
<script src="index.js"></script>

<html>
  <head>
    <link rel="stylesheet" href="index.css">
    <title>Personal Site</title>
  </head>
  <body>
    {% include "./components/header.html" %}
    {# {% include "./sections/top.html" %} #}
    {% include "./sections/hero.html" %}
    {{ EmploymentHistory.section('Professional Experience', 'employment-history', EMPLOYMENT_HISTORY) }}
    {{ EducationHistory.section('Education', 'education-history', EDUCATION_HISTORY) }}
    {{ Skills.section(PROFESSIONAL_SKILLS, PROFESSIONAL_TECH) }}
    {% include "./components/scroller.html" %}
  </body>
</html>