.header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 45px);
  padding: 15px;
  margin-right: 15px;
  color: white; }
  .header a:not(:last-child) {
    margin-right: 10px; }
  .header__icon {
    height: 30px; }

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh; }
  .top__info {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 0 100px 100px; }
    .top__info .name-container {
      display: flex; }
      .top__info .name-container span {
        font-size: 48px;
        padding: 2px 15px 5px 15px;
        color: white;
        letter-spacing: 3px; }
        .top__info .name-container span.lastname {
          background-color: #fddf27;
          color: #111217;
          font-weight: 700; }
    .top__info .separator {
      align-self: flex-end;
      width: 250px;
      border: solid 1px white;
      margin: 20px 0px 10px; }
    .top__info .title {
      align-self: flex-end;
      margin-right: 0px;
      letter-spacing: 3px;
      color: white;
      font-size: 20px; }

@font-face {
  font-family: 'LatoRegular';
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LatoBold';
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html {
  font-family: 'LatoRegular' !important; }

body {
  margin: 0px;
  background-color: #111217; }
