/*********************************************
* HEADER
*********************************************/
.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  padding: 15px;
  color: white; }
  .header__name {
    display: flex;
    margin-left: 20px; }
    .header__name span {
      display: flex;
      align-items: center;
      font-size: 24px;
      padding: 1px 7.5px 5px 7.5px;
      color: black;
      letter-spacing: 3px; }
      .header__name span.firstname {
        background-color: white; }
      .header__name span.lastname {
        background-color: #fddf27;
        color: #111217;
        font-weight: 700; }
  .header a {
    text-decoration: none; }
    .header a:hover {
      opacity: 0.8; }
    .header a:not(:last-child) {
      margin-right: 10px; }
    .header a:last-child {
      margin-right: 20px; }
  .header__icon {
    height: 35px; }

.scroller {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0; }
  .scroller__button {
    cursor: pointer;
    height: 56px; }
    .scroller__button:hover {
      opacity: 0.6; }

/*********************************************
* WORK EXPERIENCE
*********************************************/
.experience-item {
  display: flex;
  padding-top: 150px;
  margin: 0 auto;
  width: fit-content; }
  .experience-item.icims {
    padding-top: 100px; }
  .experience-item.fullstack-academy a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 45px; }
    .experience-item.fullstack-academy a img {
      width: 80%;
      height: 80%;
      border-radius: none; }
  .experience-item:last-of-type {
    padding-bottom: 100px; }
  .experience-item.jibe img {
    background-color: white; }
  .experience-item__image {
    width: 60px;
    height: 60px;
    margin-right: 30px; }
    .experience-item__image img {
      width: 100%;
      height: 100%;
      border-radius: 20px; }
  .experience-item__info {
    display: flex;
    flex-direction: column;
    width: 600px;
    letter-spacing: 0px; }
    .experience-item__info .company-name {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px; }
    .experience-item__info .positions-container {
      padding: 10px 0px 20px 0px;
      border-bottom: solid 1px; }
      .experience-item__info .positions-container .position {
        display: flex;
        justify-content: space-between;
        margin-top: 5px; }
        .experience-item__info .positions-container .position__job-title {
          font-size: 18px;
          letter-spacing: 1px; }
        .experience-item__info .positions-container .position__dates {
          font-size: 16px; }
    .experience-item__info .description,
    .experience-item__info .action-item-list li:not(:first-child) {
      margin-top: 20px;
      font-size: 16px; }

.top {
  position: relative;
  min-height: 100vh;
  background-image: url("img/atl_midtown.png");
  background-size: cover; }
  .top__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, transparent, black);
    min-height: 100vh;
    width: 100%; }
  .top__info {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 0 150px 100px; }
    .top__info .name-container {
      display: flex; }
      .top__info .name-container span {
        font-size: 48px;
        padding: 2px 15px 5px 15px;
        color: white;
        letter-spacing: 3px; }
        .top__info .name-container span.lastname {
          background-color: #fddf27;
          color: #111217;
          font-weight: 700; }
    .top__info .separator {
      align-self: flex-end;
      width: 250px;
      border: solid 1px white;
      margin: 20px 0px 10px; }
    .top__info .title {
      align-self: flex-end;
      margin-right: 0px;
      letter-spacing: 3px;
      color: white;
      font-size: 20px; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: white; }
  .hero__headline {
    width: 50%;
    background-color: #fddf27;
    padding: 20px 50px 20px 30px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 30px; }

.employment-history,
.education-history {
  min-height: 100vh;
  padding: 100px 0px; }
  .employment-history__header,
  .education-history__header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .employment-history__header .separator,
    .education-history__header .separator {
      width: 400px;
      height: 0px;
      border: solid 1px #fddf27;
      margin: 10px 0px; }
    .employment-history__header .text,
    .education-history__header .text {
      font-size: 28px;
      font-weight: 700;
      padding: 15px;
      letter-spacing: 3px; }

@font-face {
  font-family: 'LatoRegular';
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LatoBold';
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html {
  font-family: 'LatoRegular' !important; }

body {
  margin: 0px;
  color: black;
  background-color: white; }
