.top {
  position: relative;
  min-height: 100vh;
  background-image: url("img/nightsky.jpg");
  background-size: cover; }
  .top__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, transparent, black);
    min-height: 100vh;
    width: 100%; }
  .top__info {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 0 150px 100px; }
    .top__info .name-container {
      display: flex; }
      .top__info .name-container span {
        font-size: 48px;
        padding: 2px 15px 5px 15px;
        color: white;
        letter-spacing: 3px; }
        .top__info .name-container span.lastname {
          background-color: #fddf27;
          color: #111217;
          font-weight: 700; }
    .top__info .separator {
      align-self: flex-end;
      width: 250px;
      border: solid 1px white;
      margin: 20px 0px 10px; }
    .top__info .title {
      align-self: flex-end;
      margin-right: 0px;
      letter-spacing: 3px;
      color: white;
      font-size: 20px; }
