@import 'variables';

/*********************************************
* HEADER
*********************************************/
.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 30px);
  padding: 15px;
  color: white;

  a {
    &:hover {
      opacity: 0.8;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 20px;
    }
  }

  &__icon {
    height: 35px;
  }
}

.scroller {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;

  &__button {
    cursor: pointer;
    height: 56px;

    &:hover {
      opacity: 0.6;
    }
  }
}

/*********************************************
* WORK EXPERIENCE
*********************************************/

.work-experience-item {
    display: flex;
    padding: 100px;

    &.jibe {
      img {
        background-color: white;
      }
    }

    &__image {
      width: 200px;
      height: 200px;
      margin-right: 100px;
      
      img {
        width: 100%;
        height: 100%;
        border-radius: 45px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 50%;
      letter-spacing: 1px;

      .company-name {
        font-size: 24px;
        font-weight: $bold;
      }

      .job-title {
        font-size: 18px;
        margin-top: 5px;
        letter-spacing: 1px;
      }

      .description {
        margin-top: 20px;
        font-size: 14px;
      }
    }
  }