@import 'variables';

.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 30px);
  padding: 15px;
  color: white;

  a {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 20px;
    }
  }

  &__icon {
    height: 35px;
  }
}

.scroller {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;

  &__button {
    cursor: pointer;
    height: 56px;

    &:hover {
      opacity: 0.6;
    }
  }
}