@import 'variables';

/*********************************************
* HEADER
*********************************************/
.header {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  padding: 15px;
  color: white;

  &__name {
    display: flex;
    margin-left: 20px;
      
      span {
        display: flex;
        align-items: center;
        font-size: 24px;
        padding: 1px 7.5px 5px 7.5px;
        color: black;
        letter-spacing: 3px;

        &.firstname {
          background-color: white;
        }
    
        &.lastname {
          background-color: $yellow;
          color: $gray;
          font-weight: $bold;
        }
      }
  }

  a {
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-right: 20px;
    }
  }

  &__icon {
    height: 35px;
  }
}

.scroller {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;

  &__button {
    cursor: pointer;
    height: 56px;

    &:hover {
      opacity: 0.6;
    }
  }
}

/*********************************************
* WORK EXPERIENCE
*********************************************/

.experience-item {
    display: flex;
    padding-top: 150px;
    margin: 0 auto;
    width: fit-content;

    &.icims {
      padding-top: 100px;
    }

    &.fullstack-academy {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 45px;

        img {
          width: 80%;
          height: 80%;
          border-radius: none;
        }
      }
    }

    &:last-of-type {
      padding-bottom: 100px;
    }

    &.jibe {
      img {
        background-color: white;
      }
    }

    &__image {
      width: 60px;
      height: 60px;
      margin-right: 30px;
      
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 600px;
      letter-spacing: 0px;

      .company-name {
        font-size: 24px;
        font-weight: $bold;
        letter-spacing: 1px;
      }

      .positions-container {
        padding: 10px 0px 20px 0px;
        border-bottom: solid 1px;
        
        .position {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          
          &__job-title {
            font-size: 18px;
            letter-spacing: 1px;
          }
  
          &__dates {
            font-size: 16px;
          }
        }
      }

      // styling for description and each individual bullet
      .description,
      .action-item-list li:not(:first-child) {
        margin-top: 20px;
        font-size: 16px;
      }
    }
  }