.header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 45px);
  padding: 15px;
  margin-right: 15px;
  color: white;

  a {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__icon {
    height: 30px;
  }
}