@import 'variables';

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background: white;

  &__headline {
    width: 50%;
    background-color: $yellow;
    padding: 20px 50px 20px 30px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    line-height: 30px;
  }
}