@import 'components';
@import 'top';
@import 'hero';
@import 'employment-history';
@import 'education-history';
@import 'skills';
@import 'variables';
@import 'fonts';

html {
  font-family: 'LatoRegular' !important;
}

body {
  margin: 0px;
  color: black;
  background-color: white;
}
