.skills {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px 50px 20px 30px;

  &__set {
    display: inherit;
    flex-direction: inherit;
    margin: 0 auto;
    width: 40%;

    &:not(:first-child) {
      margin-top: 50px;
    }

    h4 {
      text-align: center;
      letter-spacing: 1px;
    }
  
    .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
  
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
  
        &:first-child {
          margin-right: 20px;
        }
  
        &:not(:first-child) {
          margin: 0px 20px;
        }
  
        img {
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
          object-fit: contain;
        }
  
        span {
          font-size: 14px;
        }
      }
    }
  }
}