
@import 'variables';

.top {
  position: relative;
  min-height: 100vh;
  background-image: url('img/atl_midtown.png');
  background-size: cover;
  // background: linear-gradient(to right, url('img/nightsky.jpg'), rgba(255,255,255,0) 20%);

  // background: linear-gradient(to right, rgba(255,255,255,0) 20%,
  //             rgba(255,255,255,1)), url('img/nightsky.jpg');

  &__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, transparent, black);
    min-height: 100vh;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 0 0 150px 100px;

    .name-container {
      display: flex;
      
      span {
        font-size: 48px;
        padding: 2px 15px 5px 15px;
        color: white;
        letter-spacing: 3px;
    
        &.lastname {
          background-color: $yellow;
          color: $gray;
          font-weight: $bold;
        }
      }
    }

    .separator {
      align-self: flex-end;
      width: 250px;
      border: solid 1px white;
      margin: 20px 0px 10px;
    }

    .title {
      align-self: flex-end;
      margin-right: 0px;
      letter-spacing: 3px;
      color: white;
      font-size: 20px;
    }
  }
}