@import 'variables';

.work-experience {
  min-height: 100vh;
  background: linear-gradient(to bottom, black, $gray);
  padding: 100px 0px;

  &__header {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .separator {
      width: 400px;
      height: 0px;
      border: solid 1px $yellow;
      margin: 10px 0px;
    }

    .text {
      // todo: make mixin
      font-size: 28px;
      font-weight: $bold;
      padding: 15px;
      letter-spacing: 3px;
    }
  }
}